<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8"/>
        <title>Papy robot le connaisseur</title>

         <!-- Custom styles for this template -->
        <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
        
    </head>

    <body>
        <header>
            <p class="imageGpy">
                <img src="{{url_for('static', filename='images/botText.png')}}" class="imageBot"/>
                <img src="{{url_for('static', filename='images/botText_small.png')}}" class="imageBotS"/>
            </p>
            <p class="mainText">
                Bonjour, je suis GrandPy, de quel endroit veux-tu que je te parle ?
            </P>

            <form class="formReq" id="formReq" method="POST">
                <input name= "get_info", type="text", id = "get_info">
                <input type="submit" value="Sumbit">
        </header>
    
        <section>            
            <p id="answer">
            </p>
        </section>

	<footer>
		<p class="addInfos">
		site créé par guillaume CARRU
		</p>
		<p class="addInfos">
		Vous trouverez <a href="https://github.com/JeanJdkJebuf/GrandPy">ici</a> le code source de ce projet.
		</p> 
	</footer>         
        <!-- script catching form -->
        <script src="{{url_for('static', filename='js/processing.js')}}"></script>

        <!-- Gmaps API -->
        <script src="https://maps.googleapis.com/maps/api/js?key={{ FRONT_KEY }}&language=fr"></script>
        
    </body>

</html>

