<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8"/>
        <link rel = "stylesheet" href = "{{url_for('static', filename='css/style.css')}}">
        <title>Papy robot le connaisseur</title>
    </head>

    <body>
        <header>
            <p>
                <img src="{{url_for('static', filename='images/bot.png')}}" />
            </p>
        </header>
    
        <section>
            <p class="mainText">
                Bonjour, je suis GrandPy, de quel endroit veux-tu que je te parle ?
            </P>

            <form class="formReq" id="formReq" method="POST">
                <input name= "get_info", type="text", id = "get_info">
                <input type="submit" value="Sumbit">
            </form>
            <p id="answer">
            </p>

        </section>

        <footer>
            <p class="bottomText">

            </p>
        </footer>
        
        <!-- script catching form -->
        <script src="{{url_for('static', filename='js/processing.js')}}"></script>

        <!-- Gmaps API -->
        <script src="https://maps.googleapis.com/maps/api/js?key={{ FRONT_KEY }}&language=fr"></script>
        
    </body>

</html>

