
header 
{
background-color: white;
}

header {
  padding-top: 20px;
  background-color: rgba(201, 188, 188, 0.712);
}
  .imageBot {
    background-color: rgba(201, 188, 188, 0.712);
    padding: 10px 15px;
  }


body
{background-color: rgba(201, 188, 188, 0.712); 
color: black;}

body {
    padding-top: 20px;
  }
  .mainText {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    padding: 10px 15px;
    text-align: left;
  }

  
  .formReq {
    padding: 10px 15px;
    text-align: left;
  }
  #repGpy {
    padding: 10px 15px;
    text-align: left;
  }
  #address {
    padding: 10px 15px;
    text-align: left;
  }
  .map {
    padding: 10px 15px;
    width: 500px;
    height: 500px;
    margin: 20px;
  }
  #wikiInf {
    padding: 10px 15px;
    text-align: left;
  }
  #urlWiki {
    padding: 10px 15px;
    text-align: left;
  }
  /* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .map {
    width: 250px;
    height: 250px;
    /* also change padding and margin */
  }
}
  
  
  